/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #04217a;
  --color-secondary: #004aad;
  --color-gray-dark: #737373;
  --color-gray-light: #a6a6a6;
  --color-bg: #ffffff;
  --font-titles: "Montserrat", sans-serif;
  --font-body: "Poppins", sans-serif;
  --container-width: 1200px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  background: var(--color-bg);
  color: var(--color-gray-dark);
  line-height: 1.6;
}